[
    {
        "Name": "kairoz",
        "Image": "quay.io/opsee/cats:${version}",
        "Memory": 256,
        "Essential": true,
        "Command": ["/opt/kairosdb/bin/kairosdb.sh", "run"],
        "Environment": [
            { "Name": "APPENV", "Value": "${appenv}" }
        ],
        "PortMappings": [{
            "hostPort": 9113,
            "containerPort": 8080,
            "protocol": "tcp"
        }],
        "LogConfiguration": {
            "LogDriver": "syslog",
            "Options": {
                "syslog-address": "${syslog_address}",
                "tag": "${syslog_tag}",
                "syslog-tls-skip-verify": "true"
            }
        }
    }
]
